[2017-03-14 21:39] semioticrobotic opened #1 "Write an introduction to Part 2"
We'll need someone to write an introduction to the second part of the book, on "skills."

(See the [current table of contents](https://github.com/open-organization-ambassadors/open-org-it-culture/blob/master/open_org_it_culture_toc.md).)

[2017-03-14 21:41] semioticrobotic opened #2 "Write a chapter on blameless cultures"
We'll need to compose a chapter on "blameless postmortems."

(See the [current table of contents](https://github.com/open-organization-ambassadors/open-org-it-culture/blob/master/open_org_it_culture_toc.md).)

[2017-03-14 21:42] semioticrobotic opened #3 "Write a chapter on agile communication and mastering feedback loops"
We'll need to compose a chapter on agile communication cadences.

(See the [current table of contents](https://github.com/open-organization-ambassadors/open-org-it-culture/blob/master/open_org_it_culture_toc.md).)

[2017-03-14 21:43] semioticrobotic opened #4 "Write a chapter on positive intent"
We'll need to compose a chapter on assuming positive intent when working across team boundaries.

(See the [current table of contents](https://github.com/open-organization-ambassadors/open-org-it-culture/blob/master/open_org_it_culture_toc.md).)

[2017-03-14 22:53] jhibbets commented on #2
@mindweather Heard that you might be a good person to help us with this. I've been waiting on an introduction from John Willis to connect us with you. While I was talking with John at SCALE 15x (Southern California Linux Expo) during their DevOps day, he suggested that you would be perfect for this. What's the best way to connect?

[2017-03-21 21:54] jonasrosland commented on #4
Hi!

I would love to sign up for this chapter as it fits well into what I do on a day to day basis.
I've sent an email to @jhibbets, looking forward to working with you all on this :)

[2017-03-22 11:46] semioticrobotic commented on #4
Confirmed, @jonasrosland, that you are now the author of this chapter. Thanks so much for volunteering. You're welcome to use this space or the private email conversation we've begun as channels for brainstorming, planning, drafting, etc.

[2017-03-22 15:32] knitterb opened #5 "Write a chapter on mirroring (personalities)"
This would be a chapter dedicated to the discussion of how to mirror personalities in order to get the most from an inter-personal effort or relationship.  Ideas, suggestions and examples will be used to demonstrate how to mirror a personality, and the various personalities I've come across.

As a designer, I find that getting the most from the person I'm working with is both personal and unique.

[2017-03-22 15:35] knitterb commented on #5
I'd like to write this!

[2017-03-22 15:39] semioticrobotic commented on #5
We'd love to read this proposal, @knitterb, as long as it's explicitly tied to IT organizations and offers actionable tips for folks working in them.

[2017-03-22 15:42] jhibbets commented on #2
Very excited to have you onboard @mindweather can't wait to read your chapter.

[2017-03-22 15:59] semioticrobotic opened #6 "Brainstorm additional chapters/topics"
We're certainly receptive to hearing additional ideas for chapter topics. We've heard from others that the following might be nice to include in the volume:

* The value of building a knowledge commons
* Best practices for building a knowledge commons
* Identifying the most important skills necessary today
* Methods for defining "done" in an environment of continuous delivery
* Using agile methods

[2017-03-22 16:07] jimmysjolund commented on #3
I'm quite interested in agile and communication but I'm not sure what you are referring to or thinking of here, could you elaborate?

[2017-03-22 16:11] jhibbets opened #7 "Send out project announcement communications"
Send out an email to all contributors, authors, and stakeholders with an update that we announced the project today via this article on Opensource.com: https://opensource.com/open-organization/17/3/announcing-it-culture-book

[2017-03-22 16:14] jhibbets opened #8 "Create waffle.io board for the project"

[2017-03-22 16:14] jhibbets commented on #8
Done: https://waffle.io/open-organization-ambassadors/open-org-it-culture

[2017-03-22 16:15] jhibbets opened #9 "Draft project annoucement"

[2017-03-22 16:15] jhibbets commented on #9
done and published: https://opensource.com/open-organization/17/3/announcing-it-culture-book

[2017-03-22 16:15] #9 closed

[2017-03-22 16:15] #8 closed

[2017-03-22 16:17] knitterb commented on #5
What is the preferred format for a proposal?  An outline, an abstract, a summary, or the entire contents?

[2017-03-22 16:22] jhibbets opened #10 "Create new team for the project"
And give the team access to the repository

[2017-03-22 16:22] jhibbets commented on #10
team created, invites sent out to existing contributors, and added to repo.

[2017-03-22 16:22] #10 closed

[2017-03-22 17:22] semioticrobotic commented on #1
Jason Yee has agreed (via email) to compose this!

[2017-03-22 17:28] semioticrobotic commented on #3
Great question, @jimmysjolund. We've learned that this idea would be better expressed as "write a chapter on effectively harnessing feedback loops." Essentially, we think the book needs a chapter that explores the intricacies of feedback practices—the role feedback plays in open IT organizations, the changing nature of feedback in agile environments, strategies for giving/receiving feedback effect

[2017-03-22 17:31] semioticrobotic commented on #5
The simplest answer is: Any of the above! If you'd like to send (or post) an abstract or outline for review, then we can begin there. But if this is already something you've drafted, we'll gladly review that draft with you, too.

[2017-03-22 17:51] jimmysjolund commented on #3
Interested yes, but not sure about my take on the subject. What are the expectations on a chapter in length and depth?

[2017-03-22 17:54] semioticrobotic commented on #3
We're seeking chapters that are roughly 800 to 1,000 words in length (can be longer if need be) on each topic. Some authors have pitched deep-dive-style chapters that explore single issues in greater depth. Others are taking an overview/survey approach to a range of issues on a topic.

[2017-03-22 18:16] jhibbets opened #11 "Write a chapter on What is an IT culture?"
1,000-1,500 words, due April 7

[2017-03-22 18:29] jhibbets opened #12 "Write a chapter on Hiring with culture in mind"

[2017-03-22 19:35] jimmysjolund commented on #3
Sure I'd take on the topic! I'll start drafting and send it over as soon as I can.

[2017-03-22 19:46] semioticrobotic commented on #3
@jimmysjolund is my hero. You got it!

[2017-03-22 19:49] jhibbets commented on #7
Communication sent to authors with existing work being included in the project.

Subject: Project announcement: Writing the next book on IT culture change

Dear Open Org community contributors,

This email is to let you know that an article that was previously published on Opensource.com is being considered for an Open Org project that was announced today. I've included details about the project a

[2017-03-22 19:59] jhibbets commented on #7
Communication sent to authors and stakeholder we've talked to about the project.

Subject: Writing the next book on IT culture change--the open source way

Hello Open Org community and stakeholders for the IT Culture Change book project.

I want to first say thank you to everyone we have talked to already, your feedback, excitement, and encouragement is making this project go very smoothly so far.

[2017-03-22 20:04] #7 closed

[2017-03-22 20:07] jhibbets commented on #3
@semioticrobotic is this also "Mastering feedback loops" ??

[2017-03-22 20:11] jhibbets opened #13 "Write a chapter on Leveraging the power of impact mapping"

[2017-03-22 20:11] semioticrobotic commented on #3
@jhibbets Yes; I need to update the issue title.

[2017-03-22 20:12] jhibbets opened #14 "Write an introduction to the book"
We have sent a request to Gene Kim to write this.

[2017-03-22 20:39] jhibbets opened #15 "Finalize table of contents"

[2017-03-22 20:39] jhibbets opened #16 "Complete book outline"

[2017-03-23 04:05] jhibbets opened #17 "Write the introduction to Part 2: Practices"

[2017-03-23 07:48] jimmysjolund commented on #14
What kind of help is needed?

[2017-03-23 12:55] semioticrobotic commented on #14
We're still in need of someone to write this, but, as @jhibbets indicates above, we've aimed high and asked Gene Kim to do it. Nevertheless, it's marked as "help wanted" until such time as we _officially_ have someone signed up to do it.

[2017-03-23 12:56] semioticrobotic commented on #1
Someone duplicated this with #17, so closing this issue.

[2017-03-23 12:56] #1 closed

[2017-03-23 13:54] jhibbets commented on #13
Got a lead that we should pursue Goiko Adzic (the author of the book on impact mapping) for this opportunity. Does anyone know Goiko and can introduce us?

[2017-03-23 15:29] LauraHilliger opened #18 "Proposal: rewrite of What to do when your team has imposter syndrome"
I thought a rewrite of the article i recently wrote for opensource.com might be appropriate for the "Skills" section? We might re-title it to something like "Avoiding Semantic Traps in Project Management"?

[2017-03-23 19:22] GIANTCRAB commented on #11
Hi! Is anyone working on this? I would love to help work on this chapter.

[2017-03-23 22:59] semioticrobotic commented on #11
Hey, @GIANTCRAB! Yes, Jono Bacon has agreed to write this chapter (we're just waiting for him to accept our GitHub invitation so we can properly tag him on it). But I bet he'd be open to any input you might have! And if there's a different angle on culture you might like to pursue, we can chat about that, too. You can post it in the general "brainstorming" issue, where we're collecting those thing

[2017-03-23 23:00] semioticrobotic commented on #18
Totally, @LauraHilliger. I think that'd be a great fit. Let's you and I revisit the writing and see if there are any tweakable moments we can adapt for the IT crowd. It will not be difficult!

[2017-03-23 23:05] semioticrobotic commented on #13
Reached out [on Twitter](https://twitter.com/openorgbook/status/845048174771359744), and will follow-up where I can. Thanks for the tip!

[2017-03-23 23:09] GIANTCRAB commented on #11
@semioticrobotic which articles are available for work?

[2017-03-23 23:15] semioticrobotic commented on #11
Well, @GIANTCRAB, all the topics/chapters that we initially identified as desirable are claimed and underway; however, we are _very_ open to hearing ideas and pitches on alternatives and additions (see @LauraHilliger in #18, for example). Please help us see angles and topics (with an IT focus, of course) we hadn't considered before!

[2017-03-24 17:10] knitterb commented on #5
Please note that this is intended for the "skills" section of the book?
(not sure if there is a label for this)

Abstract and outline coming...

[2017-03-27 15:41] knitterb commented on #5
# Abstract (or maybe Intro)
For years, IT organizations have been the focus of much needed technology innovation.  From high-tech advancements to cost savings, the modern IT organization has traditionally been a place solely for technologists.  This landscape is changing as cultures from around the world gather to solve some of the world’s toughest and largest problems.

With these new cultures co

[2017-03-27 17:45] semioticrobotic commented on #5
Thanks for laying this out, @knitterb. It's an interesting topic, to be sure. A few notes:

1. I think the chapter really hits its stride in the third paragraph above. I'd recommend simply beginning a prospective chapter there.

2. You write:

The relationship between diversity (of background, of talent(s), of thought, of work style, etc.) and mirroring seems like it will be central to a chapter l

[2017-03-27 18:22] semioticrobotic commented on #18
Okay, so, @LauraHilliger, I re-read the piece in its current form and I really think it needs very _little_ in order to fit the volume. It reads quite accessibly as-is, even for the relatively different audience. Should you _have_ one or two ideas for working in IT-specific language or examples, then of course we're all for that! But if you'd like to run right ahead, I think we can make it work in

[2017-03-27 19:04] knitterb commented on #5
Great feedback and I agree with your points. I can certainly tighten this
up, and I was planning to go into specifics, I've just run out of time this
weekend.

Since I'm a little late in my proposal, and the deadline is tomorrow, what
do you see as the next steps for helping you make a determination for a
chapter on Mirroring?

[2017-03-27 19:54] semioticrobotic commented on #5
How about we move to an outline next. You're welcome to compose it in any way you'd like; just share with me at bbehrens@redhat.com and we'll go from there. This'll help get a good sense of the scope, I think!

**Edit:** By the way, if you aren't able to do this by tomorrow, then please don't worry! We can examine over the next few days. Just happy to have the ball rolling.

[2017-03-28 15:32] knitterb commented on #5
I will work on this outline tonite and get it to you tomorrow!

[2017-03-29 10:06] jimmysjolund commented on #3
When looking at the time schedule, I wonder if you are expecting me to send something in before April 7?

March 28—Finalized table of content and author roster published
March 30—Final book outline complete
April 7—All chapter drafts due to Opensource.com team

[2017-03-29 11:00] semioticrobotic commented on #3
Our goal is to start receiving chapters by April 7 so we can begin collaborative editing with writers. If you need an extra day or two, then that's certainly fine!

[2017-03-30 14:53] jhibbets opened #19 "Open Org / ITculture stakeholder reachout"
Reach out to a few contacts in Red Hat IT that we got some leads on. Connected with Chrissy Linzy to see if there are additional stories to tell. informed CIO Mike Kelly about the project.

[2017-03-30 14:53] #19 closed

[2017-04-03 13:22] semioticrobotic opened #20 "The book needs a title"
So our book needs a name.

Both our research and our interviews with source matter experts consistently revealed that terms like "culture," "IT culture," "culture change," and "IT culture change" resonate with would-be readers. As we've been noodling with title and subtitle ideas, then, we've been toying with variations on this theme.

As we wrestle with the important task of titling this volume,

[2017-04-03 18:51] jhibbets opened #21 "Send out IT culture book project update to stakeholders"

[2017-04-03 18:53] jhibbets commented on #11
Assigned to @jonobacon

[2017-04-03 18:55] #5 closed

[2017-04-04 21:10] jhibbets commented on #21
Hello everyone,

Just a brief update here on the IT culture meets open organizations book project. We are gathering feedback on potential title options for the book. We've opened an issue on GitHub and included a few title and subtitle options for your perusal. Please add any feedback, titles you like, titles you don't like, or discussion to the issue etc.

https://github.com/open-organization-amb

[2017-04-04 21:10] #21 closed

[2017-04-05 13:24] janapetersen commented on #20
For titles: (1) The Open Organization Guide to IT Culture Change and (2) The Open Organization Guide to IT Innovation
For subtitles: I like (1) Enhancing IT performance the open way (2) creating a culture of success in your IT shop and (3) catalyzing (IT) cultures of continuous improvement

[2017-04-05 15:25] semioticrobotic commented on #20
Thanks for weighing in, @janapetersen! I do agree that:

**The Open Organization Guide to IT Innovation: Catalyzing IT cultures of continuous improvement**

has a particularly nice ring to it.

[2017-04-05 19:10] ruhbehka opened #22 "Additional chapters: Failing fast / Spanning boundaries / Productive debate"
Hi,
I'd like to propose two additional chapters:

For "New Skills" - One by DeLisa Alexander, either:
- "Failing fast: Learning to release early and often" -- adapted from this article to include some new tips and tricks: https://opensource.com/business/10/7/fear-failure-embrace-it-failing-fast
OR
- "Working across organizational boundaries" -- adapted from this article, again with some new materi

[2017-04-05 19:19] jhibbets commented on #20
@semioticrobotic I might flip it around:

Catalyzing cultures of continuous improvement
The Open Organization Guide to IT Innovation

Part of The Open Organization community book series

[2017-04-05 19:48] semioticrobotic commented on #20
Even better, @jhibbets!

I'm also partial to the subtitle "An open leader's guide to the future of IT." Just haven't yet found a productive or resonant coupling for that one.

[2017-04-05 19:57] jhibbets commented on #20
We should conduct a poll from the top 4-5 ideas.

On Wed, Apr 5, 2017 at 3:48 PM, Bryan Behrenshausen <
notifications@github.com> wrote:

[2017-04-05 20:23] semioticrobotic commented on #22
Two solid proposals, @ruhbehka. Thanks for offering them.

The piece on "failing fast" is a bit too redundant with chapters already accepted into the volume (and currently in draft state), so I believe the second, on "comfort zones," might be a better fit. I'd like to hear more about the IT-specific angle DeLisa would be taking on that one.

We currently don't have anything on "productive debate"

[2017-04-06 03:57] sherl0cks commented on #13
Im in and will take this. I've been practicing for 5 years now. Email sent separately

[2017-04-06 12:33] semioticrobotic commented on #13
Very glad to hear that, @sherl0cks! We're thrilled. Thanks for reaching out. I'll look for your email.

[2017-04-06 17:36] ruhbehka commented on #22
Sounds good - yes, we can get both drafted by EOD next Fri Apr 14, or at least by the following Monday or Tuesday if some extra revisions are needed.

[2017-04-06 17:37] semioticrobotic commented on #22
Roger that, @ruhbehka. Thanks for helping us meet our goals.

[2017-04-07 10:12] jimmysjolund commented on #3
Should I upload my writing here or send it through email (as before)?

[2017-04-07 12:07] semioticrobotic commented on #3
Either is fine, @jimmysjolund, and whatever is most convenient for you is best for us. Most folks have been emailing or sharing a link to a collaborative editor, since that seems to speed up the potential pace of revisions.

[2017-04-07 21:15] rerb commented on #20
I vote (do I get a vote?) for "The Open Organization IT Handbook".  Simple, clear, maintains link to Open Organization idea.

[2017-04-12 14:26] LauraHilliger commented on #18
hey! Sorry for my slacking on this. I reread the piece and think it's general enough in it's language too. I wouldn't change anything for the IT crowd – they work with PMs and planning committees and stuff too!

[2017-04-12 17:23] semioticrobotic commented on #18
Hey, no worries! Glad you agree. I'll get to work on it right away and incorporate it into an upcoming code push, so you can see how it will look when typeset. If at that point you notice anything you'd like to change, just holler.

[2017-04-13 12:49] semioticrobotic commented on #18
This chapter has now been typeset! Thanks (and congrats) @LauraHilliger!

[2017-04-13 12:49] #18 closed

[2017-04-13 19:16] semioticrobotic commented on #22
These chapters are typeset and in the page proofs. Thanks for the great contributions!

[2017-04-13 19:16] #22 closed

[2017-04-17 18:36] #6 closed

[2017-04-18 18:57] jasonbrooks opened #23 "License missing"
What's the license for this project?

[2017-04-18 19:01] semioticrobotic commented on #23
Ack! Thanks for the reminder, @jasonbrooks. I'll add a license designation right away.

[2017-04-19 18:24] semioticrobotic commented on #23
The repository now contains an appropriate license description.

[2017-04-19 18:24] #23 closed

[2017-04-19 18:25] semioticrobotic commented on #17
How are things going, @jyee? Can I be of any help as you work on your draft?

[2017-04-19 18:26] semioticrobotic commented on #16
The book outline is, by and large, final. Chapters may shift positions as we determine the most effective running order for them; however, the general architecture for the book is set.

[2017-04-19 18:26] #16 closed

[2017-04-19 18:27] semioticrobotic commented on #12
How are things going, @juliegund? Can I help you in any way as you finish up your draft?

[2017-04-19 18:28] semioticrobotic commented on #11
Chapter is complete and now in production via galley proofs.

[2017-04-19 18:28] #11 closed

[2017-04-19 18:29] semioticrobotic commented on #4
How's your second draft coming along, @jonasrosland? Any update you can share?

[2017-04-19 18:30] semioticrobotic commented on #3
Chapter from @jimmysjolund is now finished and available for review in the galley proofs.

[2017-04-19 18:30] #3 closed

[2017-04-20 15:23] semioticrobotic commented on #20
These are all great suggestions, folks. Thanks. We're taking everything under consideration.

[2017-04-20 15:40] jhibbets commented on #14
We have Mike Kelly, Red Hat CIO signed up for this. I am meeting with him on May 2 to go over the project and get him brought up to speed.

[2017-04-20 15:42] jhibbets opened #24 "Draft and send update on April 17 milestone to stakeholders"

[2017-04-20 16:34] jhibbets commented on #24
Hello Open Org community and stakeholders for the IT Culture Change book
project.

*Project status: Green*

This week, the project achieved another major milestone as authors began receiving editorial guidance on their submissions. Many of those submissions are already finalized and typeset, and are available for inspection in the project's repository. We have 6 outstanding chapters at various sta

[2017-04-20 16:35] #24 closed

[2017-04-20 17:21] juliegund commented on #12
Hi Bryan I apologize, I got sick and then have been traveling. You will have the finished copy eob Monday if that still works.

Julie Gunderson
Community and Relationship Manager

[2017-04-20 17:37] semioticrobotic commented on #12
You bet, @juliegund. Looking forward to it. Glad to hear you're feeling better!

[2017-04-20 17:59] jhibbets opened #25 "Update Tentative table of contents file"
Updated introduction piece from UNKWOWN to Mike Kelly

[2017-04-20 17:59] #25 closed

[2017-04-20 18:17] semioticrobotic commented on #20
Some suggestions we've received via email:

THE OPEN ORGANIZATION
Guide to IT Culture Change
Creating a culture of success in your IT department

THE OPEN ORGANIZATION
Guide to IT Culture Change
Inspire your IT team and move faster

THE OPEN ORGANIZATION
Guide to IT Culture Change
Cultivating transparency, accountability, and failure to move faster

[2017-04-20 19:58] jyee commented on #17
@semioticrobotic Sorry, was waiting on some draft chapters to provide better references for the intro, but then lost track of time. I'm back on it and will have a draft ready this Saturday.

[2017-04-21 11:01] semioticrobotic commented on #17
Perfectly understandable, @jyee! Be sure to check out the page proofs in the repo; I think the currently typeset chapters should provide good grist for the mill.

[2017-04-24 04:23] arob98 commented on #20
What terms or words did SMEs not respond favorably too? Sometimes seeing what is on the 'do not use' list can be helpful.

[2017-04-24 12:29] semioticrobotic commented on #20
That's a great question, @arob98, and definitely something we specifically sought when asking for feedback. In the end, we decided to avoid:

* "agile IT" (it's too generic and passé at this point; plus, there's ambiguity inherent to the A/agile method/descriptor relationship)
* "DevOps" (plenty of contributors use this term to describe what they're doing, and some even deploy it specifically in t

[2017-04-24 16:48] semioticrobotic commented on #20
Via email, the excellent @janapetersen recommends something that perhaps sounds like:

The Open Organization
Guide to IT Culture Change
* (how to) Practice/ing transparency, accountability, and collaboration for continuous innovation
* (how to) Cultivate/ing the principles of open for continuous innovation
* (how to) Embed/ding principles of open for continuous innovation

[2017-04-24 17:14] chris-short commented on #20
I like the "stop words" above (and I'm DevOps'ing atm). How about this?

The Open Organization
Guide to IT Culture Change
The Art of Creating Cultures and Moving Faster

[2017-04-25 14:25] semioticrobotic commented on #20
Okay, folks. After much deliberation and stellar feedback from the community (both here and via email), we're proud to present the final four finalists for consideration. We'll make this official in the next day or two, so please add your final feedback soon, should you have anything additional to say.

And lest I forget: _Thank you_ for your help and guidance!

## The Final Four

THE OPEN ORGANIZ

[2017-04-25 18:58] semioticrobotic commented on #2
With much regret, @mindweather has declined to compose this chapter of the book. Anyone with something relevant already composed should feel free to pitch it before May 1; otherwise, we'll proceed without this particular chapter of the book.

[2017-04-28 11:01] semioticrobotic commented on #20
Well, folks, we did it.

Our final call for feedback provided the last bit of guidance we needed to polish the book's name. The fifth book in the _Open Organization_ book series will be titled:

THE OPEN ORGANIZATION
Guide to IT Culture Change
Open principles and practices for a more innovative IT department

A few notes on how we arrived at this decision:

* **Guide to IT Culture Change**: This t

[2017-04-28 11:01] #20 closed

[2017-05-01 15:37] #15 closed

[2017-05-01 15:42] semioticrobotic commented on #13
@sherl0cks did a fantastic job. Look for the chapter in the page proofs soon.

[2017-05-01 15:42] #13 closed

[2017-05-01 15:43] semioticrobotic commented on #4
@jonasrosland wrote an excellent chapter that I'm slowly getting into page proofs. Look for it in the very near future.

[2017-05-01 15:43] #4 closed

[2017-05-01 15:43] semioticrobotic commented on #2
Looks like we won't get this one after all, so I'm closing this issue as we're now under content freeze.

[2017-05-01 15:43] #2 closed

[2017-05-01 15:45] semioticrobotic commented on #12
Sorry that we couldn't land this in time for the deadline, @juliegund. But please know that we're still interested in publishing the article on Opensource.com, should you be interested in submitting it!

[2017-05-01 15:45] #12 closed

[2017-05-01 15:46] juliegund commented on #12
Bryan I am so sorry – my son ended up very ill – to the point of Emergency room and I missed everything I was supposed to be doing

Julie Gunderson
Community and Relationship Manager

[2017-05-01 16:50] semioticrobotic commented on #12
I'm so sorry to hear this new, @juliegund, and I hope your son is doing well now. We can always revisit this at a later date for another project.

[2017-05-01 16:51] semioticrobotic opened #26 "Write the introduction to Part 1: Principles"
Mike Walker has agreed and is already penning a great contribution.

[2017-05-01 16:53] semioticrobotic opened #27 "Write a preface to the book"
The book needs some brief context-setting up front. I can handle this one.

[2017-05-01 17:13] semioticrobotic opened #28 "Write back-cover/promotional blurb"
We'll need to compose back-cover copy that can serve as promotional material for the book. I'll put a draft here soon.

[2017-05-01 17:16] semioticrobotic commented on #28
Here's a draft.

## About the book

The pace of business is accelerating, and organizations are demanding more from their information technology teams. They need IT departments that act as hubs of innovation, not just cost centers.

As IT teams around the world rise to these new challenges, they're realizing that radical change isn't a matter of tools alone. It's also a matter of culture—the value

[2017-05-01 22:51] semioticrobotic commented on #17
How's it going @jyee? Need anything from us?

By the way, the table of contents for the section you're introducing is now set, and most of the chapters have been typeset (just in case you wanted to reference them when finishing your introduction).

[2017-05-08 18:57] semioticrobotic commented on #28
The above seems to work, so we're rolling with it!

[2017-05-08 18:57] #28 closed

[2017-05-08 18:57] semioticrobotic commented on #27
The preface is now available for review in the page proofs.

[2017-05-08 18:57] #27 closed

[2017-05-08 18:58] semioticrobotic commented on #14
Mike and I are working on the introduction this week—more soon.

[2017-05-09 14:13] semioticrobotic commented on #17
Just checking in once more, @jyee. Do you think we can wrap up this introduction by the end of the calendar week?

[2017-05-09 14:44] jhibbets commented on #17
I talked with @jyee last night. He gave a pretty cool Ignite talk btw. He's
at OSCON this week and was waiting on the final chapter listings to make
sure he didn't talk about something that wasn't mentioned. Without speaking
for him, I seem to recall that he was going to try to knock this out early
next week.

On Tue, May 9, 2017 at 10:13 AM, Bryan Behrenshausen <
notifications@github.com> wrote:

[2017-05-09 14:53] jyee commented on #17
Sorry, I've been out of touch. Yes, I'm planning to have this done by this
coming weekend.

On May 9, 2017 09:44, "Jason Hibbets" <notifications@github.com> wrote:

[2017-05-09 15:06] semioticrobotic commented on #17
Perfect. Thanks, @jyee. (Any video of the aforementioned "cool talk," by the way?)

[2017-05-09 17:06] semioticrobotic opened #29 "Book must be proofread before launch"
It's time to proofread the book.

If you'd like to help (we sure would appreciate it!), look at the annotated table of contents below to determine which chapter you'd like to review. First, download [a set of page proofs](https://github.com/open-organization-ambassadors/open-org-it-culture/blob/master/open_org_it_culture_page_proofs.pdf). Carefully read the chapter you've selected, then leave your

[2017-05-09 17:32] chris-short commented on #29
Do you want to assign chapters to volunteers or do more self-service?

[2017-05-09 17:36] semioticrobotic commented on #29
Either works for me! Someone dead set on proofing a particular chapter should go right ahead and take a look. Someone willing to take on anything that needs taking can surely ask for guidance, and I'll happily offer it.

On strategy might be: If you're an author and don't trust yourself to adequately proof your own chapter, assign a friend to do it! Some redundancy won't be an issue ("many eyes,"

[2017-05-09 17:38] mrry550 commented on #29
@semioticrobotic -
"A note on style - This book uses the lower-case term "agile" as a general
descriptor for various development methods that embrace flexibility
and value responsiveness, and the capitalized term "Agile"
as a proper noun naming the specific development methodology
outlined in The Agile Manifesto."

The Agile Manifesto never outlined any specific development methods-- probably woul

[2017-05-09 17:40] semioticrobotic commented on #29
Much appreciated, @mrry550! I have made the change.

[2017-05-09 18:21] ghost commented on #29
I can help proofread.  Please assign a chapter.

[2017-05-09 18:25] chris-short commented on #29
Please assign me a chapter as well.

[2017-05-09 18:34] mburke5678 commented on #29
Sign me up!

[2017-05-09 18:52] leswilliams44 commented on #29
I can proofread as many chapters as you want. Feel free to assign whatever you'd like for me to look at.

[2017-05-09 19:01] semioticrobotic commented on #29
Wow, awesome! @csimonse, @chris-short, @mburke5678, @leswilliams44 now all have chapter assignments listed above (we'll focus on Part 1 at the start). Thank you _so much_ for your invaluable help.

[2017-05-09 19:27] mburke5678 commented on #29
@semioticrobotic I don't see see my name assigned. Or am I looking in the wrong place?? Just don't want to step on anyone's work.

[2017-05-09 19:37] ghost commented on #29
@mburke5678 refresh the page, you'll see it above!

[2017-05-09 20:44] ghost commented on #29
@mburke5678 you are correct, Michael, others were assigned, I do not see your assignment.

[2017-05-09 21:09] ghost commented on #29
I annotated my proofreader notes in the attached file.
[open_org_it_culture_page_proofs-csimonse proofreader notes1.pdf](https://github.com/open-organization-ambassadors/open-org-it-culture/files/988010/open_org_it_culture_page_proofs-csimonse.proofreader.notes1.pdf)

[2017-05-09 21:27] semioticrobotic commented on #29
Sorry about that, @mburke5678! Must have been a sloppy copy/paste on my part. I've assigned you a chapter. Again: Thank you.

[2017-05-09 22:20] semioticrobotic commented on #29
Really great, @csimonse. Thanks for such a close and helpful reading! I've incorporated the changes (well, all but one: I kept "Joe and Josephine," because that's so quintessentially Jono that it needed to remain!).

[2017-05-09 22:21] ghost commented on #29
LOL!  Well, I stumbled over it, but that's okay.  It's his voice:)

[2017-05-09 22:28] ghost commented on #29
@semioticrobotic I just caught another one that I missed the first time - on page 26, "Another element here is to re-enforce..." the word should be "reinforce".

[2017-05-09 22:46] leswilliams44 commented on #29
Bryan,

I copied the text from the "Five laws..." chapter in the .pdf file and pasted it in a Google Docs file so I could make edits as suggestions. That way, you can see what was changed. I hope this is okay.

Here is the shareable link:
https://drive.google.com/open?id=1pFDFQo3oqFfkhwHf_p3-zHL22wrCZMDE8cN9Ko9yrUw

Les

[2017-05-09 23:56] chris-short commented on #29
"Changing the way we think of change" by Matt Micene

Page 67: That's how things like Taylorism **and and** Sloanianism get solidified and come to appear immovable.

Page 71: even while holding to the iron silo structures of management
I feel like the word **on** should appear after holding but I could be wrong

[2017-05-10 11:10] semioticrobotic commented on #29
I am in your respective debts, @leswilliams44 and @chris-short. Thank you very much.

[2017-05-10 12:35] chris-short commented on #29
Other way around, thanks for the opportunity to help in this project.

[2017-05-10 16:13] leswilliams44 commented on #29
@semioticrobotic, glad to help and learn something new at the same time. win-win

[2017-05-10 16:18] semioticrobotic commented on #29
You bet, @leswilliams44. I see you have one more chapter assigned to you. I have two. Anyone else want another?

[2017-05-10 16:26] leswilliams44 commented on #29
@semioticrobotic, I should be through with my second chapter in an hour or so. I'll be glad to take another one, if no one objects.

[2017-05-10 16:28] semioticrobotic commented on #29
There is no rush at all, @leswilliams44. I'm just trying to keep myself organized over here. I'll gladly assign you another chapter, too (and I'll make it a shorter one this time!).

[2017-05-10 16:30] leswilliams44 commented on #29
@semioticrobotic, The length of the articles has been fine. At my last job, I edited 27 manuals ranging from 100 pages to 1200 pages. These chapters are actually fun for me.

[2017-05-10 17:24] leswilliams44 commented on #29
@semioticrobotic, Here are my edits for the "A new approach to operations" chapter.

https://drive.google.com/open?id=1ZVSmkE5mbK7kuWOb0K6yMvPlzxVagfN87rIYcmi8LL4

[2017-05-10 17:48] ghost commented on #29
I can proofread another chapter today. Will start on "Transparency, failure, and other things I've learned to enjoy" by Nick Hall

[2017-05-10 19:53] semioticrobotic commented on #29
So helpful. Thanks, @leswilliams44.

[2017-05-10 23:38] leswilliams44 commented on #29
glad to help

[2017-05-11 16:48] ghost commented on #29
Attached has my notes for the chapter by Nick Hall.  I'll start on the next chapter that is not assigned, which appears to be "Why a Buffer developer open sourced his code" by Jordan Morgan.

[Transparency failure pp39-49 proofreader notes from csimonse.pdf](https://github.com/open-organization-ambassadors/open-org-it-culture/files/993802/Transparency.failure.pp39-49.proofreader.notes.from.csimons

[2017-05-11 17:45] semioticrobotic commented on #29
Thank you so much, @csimonse.

[2017-05-11 17:56] ghost commented on #29
Here are my notes for the chapter by Jordan Morgan, pages 50-57.
[open_org_it_culture_page_proofs-csimonse proofreader notes -pp50-57.pdf](https://github.com/open-organization-ambassadors/open-org-it-culture/files/993969/open_org_it_culture_page_proofs-csimonse.proofreader.notes.-pp50-57.pdf)

[2017-05-11 19:38] semioticrobotic commented on #29
Got it, @csimonse! Especially appreciate your notes about the proper footnote placement. I've gone through the entire manuscript and standardized that.

[2017-05-11 19:53] ghost commented on #29
I'll take "Why you should build a team of boundary spanners" by DeLisa Alexander

[2017-05-11 20:39] mburke5678 commented on #29
Edits to "Organizational learning: A new perspective on DevOps". Sorry it took so long
[open_org_it_culture_page_proofs_mib_edit.pdf](https://github.com/open-organization-ambassadors/open-org-it-culture/files/994359/open_org_it_culture_page_proofs_mib_edit.pdf)

https://dochub.com/michaelburke4e3b0159/XmJjoM/open_org_it_culture_page_proofs_mib_edit

[2017-05-11 21:01] mburke5678 commented on #29
I can do ""What engineers and marketers can learn from each other"

[2017-05-12 11:40] semioticrobotic commented on #29
You folks really rock. I'm so grateful.

[2017-05-12 14:44] ghost commented on #29
@semioticrobotic I finished proofreading the chapter pages 79-84, "Why you should build a team of boundary spanners" by DeLisa Alexander.  There is only one correction necessary, it is on the last paragraph on page 81, "If you project teams are already cross-functional," ... should be "If your" - add an 'r' to 'you'.

I can start on the Part II Introduction by Jason Yee today!

[2017-05-12 14:55] semioticrobotic commented on #29
Roger that, @csimonse! I've made the change.

Unfortunately, @jyee introduction is not yet finished, but should be wrapped up by the end of the weekend. If you have spare time for proofing right now, I'd recommend taking a crack at the book's preface and introduction (just be sure you're working with updated proofs, because I pushed changes to those sections both yesterday and today!).

[2017-05-12 14:57] ghost commented on #29
Got it @semioticrobotic - so where do I find the updated proofs - same link at the top?

[2017-05-12 14:59] semioticrobotic commented on #29
@csimonse Yes. That link _should_ always give you the most recent set of proofs.

[2017-05-12 15:18] leswilliams44 commented on #29
@semioticrobotic, Here's my edits and proofs for Jim W's article.
https://drive.google.com/open?id=17028A7_gAiUkBEEwbePldA_RcmC1X140Eik9YgPJhjM

[2017-05-12 16:26] semioticrobotic commented on #29
Noted and logged, @leswilliams44. Great catches. Thank you.

[2017-05-15 15:03] semioticrobotic commented on #17
Fantastic introduction from @jyee is now available for review in the daily page proofs.

[2017-05-15 15:03] #17 closed

[2017-05-15 16:35] mburke5678 commented on #29
A few nits in the engineers and marketers chapter.
See: https://dochub.com/michaelburke4e3b0159/pb3P9j/open_org_it_culture_page_proofs_mib_edit_engineer_and_marketer

[2017-05-15 18:58] semioticrobotic commented on #29
Thanks, @mburke5678. I can't access your suggestions. Can you use the PDF link, as you did in your previous submission?

[2017-05-15 20:40] mburke5678 commented on #29
@semioticrobotic
[open_org_it_culture_page_proofs_mib_edit_engineer_and_marketer.pdf](https://github.com/open-organization-ambassadors/open-org-it-culture/files/1002423/open_org_it_culture_page_proofs_mib_edit_engineer_and_marketer.pdf)

[2017-05-15 21:43] ghost commented on #29
@semioticrobotic I proofread the Introduction by Mike Kelly and it is perfect as is.  I cannot proofread the Intro by Mike Walker because it is in a foreign language.  :)

[2017-05-15 21:51] semioticrobotic commented on #29
Thanks, @mburke5678! I got 'em now. Odd about the character spacing in and around the footnotes. I am going to look into that further and hope it's not something going on book-wide. Much appreciated.

[2017-05-15 21:52] semioticrobotic commented on #29
Ha! No sweat, @csimonse! Mike Walker's introduction is coming in soon. Glad Mike Kelly's checks out! Anything amiss in my preface?

[2017-05-15 22:11] ghost commented on #29
A couple of minor notes on the Preface,
[open_org_it_culture_page_proofs-Preface-proofreader-notes-csimonse-5-15-17.pdf](https://github.com/open-organization-ambassadors/open-org-it-culture/files/1002640/open_org_it_culture_page_proofs-Preface-proofreader-notes-csimonse-5-15-17.pdf)

[2017-05-16 14:06] semioticrobotic commented on #29
Thanks, @csimonse. I see your highlighted passages, and I see blocks where comments _should_ be, but I do not see your comments.

[2017-05-16 18:34] ghost commented on #29
@semioticrobotic in the Preface, simply, I think there is a word or something missing from this phrase "an archiecture for ensuring both the principles and the practices of openness work..."

Second was a suggestion that you do something to avoid hyphenating Opensource.-
com

[2017-05-16 19:16] semioticrobotic commented on #29
Thanks, @csimonse. I'll look into them both. Appreciate it!

[2017-05-16 19:16] semioticrobotic commented on #26
Mike Walker's introduction to Part 1 is now typeset and available for review as part of the galley proofs.

[2017-05-16 19:16] #26 closed

[2017-05-16 19:17] semioticrobotic commented on #14
Mike Kelly's introduction is now typeset and available in the book's galley proofs.

[2017-05-16 19:17] #14 closed

[2017-05-16 19:20] semioticrobotic commented on #29
Mike Walker's "Introduction to Part 1" came in today. I've proofed and typeset it. Would someone else mind read it over and double-checking it for me?

[2017-05-17 15:03] jmcknz commented on #29
I can proof Matt Thompson's "retrospectives" chapter. Feel free to assign others if needed.

[2017-05-17 20:15] jmcknz commented on #29
Proofread Thompson (pp. 111-116).
[open_org_it_culture_page_proofs_pp111-116.pdf](https://github.com/open-organization-ambassadors/open-org-it-culture/files/1008990/open_org_it_culture_page_proofs_pp111-116.pdf)

[2017-05-17 23:10] jhibbets opened #30 "Proof read part 1"

[2017-05-17 23:10] jhibbets opened #31 "Proof read part 2"

[2017-05-17 23:11] jhibbets commented on #30
I have paper edits ready for @semioticrobotic for part 1

[2017-05-17 23:11] jhibbets commented on #31
I have paper edits ready for @semioticrobotic for part 2

[2017-05-17 23:11] jhibbets opened #32 "Build webform for soft launch"

[2017-05-18 12:03] jmcknz commented on #29
Can proofread a couple more chapters today: Fernandez and Sjolund.

[2017-05-18 13:01] semioticrobotic commented on #29
Thanks, @jmcknz. Just incorporated your suggestions on the Thompson chapter, which were excellent. Great catches.

[2017-05-18 13:09] #30 closed

[2017-05-18 13:09] #31 closed

[2017-05-18 16:17] ghost commented on #29
@semioticrobotic I can proofread more today.  I'll take "Better IT culture via the Socratic method" by Lauri Apple
Edit/add:  attached are my notes
[laura-apple-chapter-pp147-157-csimonse-proofreader-notes.pdf](https://github.com/open-organization-ambassadors/open-org-it-culture/files/1012613/laura-apple-chapter-pp147-157-csimonse-proofreader-notes.pdf)

[2017-05-19 13:00] semioticrobotic commented on #29
Many thanks, @csimonse. I'll be able to get these into today's code push!

[2017-05-21 12:25] semioticrobotic commented on #29
Does anyone have the time and/or bandwidth to read through the section introductions by Mike Walker and Jason Yee?

[2017-05-21 12:27] chris-short commented on #29
I probably should be working on my talk this week but I can.

[2017-05-21 12:28] semioticrobotic commented on #29
You should most definitely prioritize the talk, @chris-short, but if it's any consolation: The introductions are rather short.

[2017-05-21 12:29] chris-short commented on #29
I'll proofread now.

[2017-05-21 13:03] chris-short commented on #29
In the Mike Walker intro I would remove the comma after group:

Jason Yee's intro looks good.

[2017-05-21 13:42] semioticrobotic commented on #29
Thanks, @chris-short. Appreciate the second set of eyes on those.

[2017-05-23 17:09] jmcknz commented on #29
@semioticrobotic My proofreading comments on Jimmy Sjolund's "Mastering feedback loops."
[open_org_it_culture_proofread_pp128-134.pdf](https://github.com/open-organization-ambassadors/open-org-it-culture/files/1023022/open_org_it_culture_proofread_pp128-134.pdf)

[2017-05-23 17:19] semioticrobotic commented on #29
Great catches, @jmcknz. I just incorporated all the changes. Much obliged.

[2017-05-23 17:21] semioticrobotic commented on #29
General update on this issue: We'll need to cement all book chapters by Friday, May 26. I plan to read most of the unproofed chapters by then. Anyone wishing to do one more should speak now or forever hold your typos.

[2017-05-23 17:33] jmcknz commented on #29
And just a couple of very minor suggestions for Rebecca Fernandez's "Three essential skills...":
[open_org_it_culture_proofread_pp123-127.pdf](https://github.com/open-organization-ambassadors/open-org-it-culture/files/1023091/open_org_it_culture_proofread_pp123-127.pdf)

[2017-05-23 17:35] semioticrobotic commented on #29
Got 'em! Thanks, @jmcknz.

[2017-05-23 17:41] jmcknz commented on #29
I can do one more: Krieger/Popal.

[2017-05-24 15:43] jmcknz commented on #29
@semioticrobotic Proofreading comments for Krieger/Popal:
[open_org_it_culture_pp158-167.pdf](https://github.com/open-organization-ambassadors/open-org-it-culture/files/1026135/open_org_it_culture_pp158-167.pdf)

[2017-05-24 18:58] semioticrobotic commented on #29
Got it, @jmcknz. Nice catches. I've just pushed today's set of galley proofs, which includes your edits.

[2017-05-24 21:59] jhibbets opened #33 "Open Org book series landing page"
@semioticrobotic - what do you think about re-organizing the Open Org menu and created a landing page for the open source book series, then relocating the 3 (soon to be 4) book landing pages to live under that instead of resource?

[2017-05-24 22:36] jhibbets commented on #32
Webform has been created but is unpbulished until I get a second review.

[2017-05-24 22:37] jhibbets commented on #32
@semioticrobotic Please give this an initial test and then I'll publish after your review (or you can turn it on too). I used the latest revision from the GitHub repo for the PDF and annotated the filename with today's date.

https://opensource.com/open-organization/resources/culture-change

[2017-05-25 12:57] semioticrobotic commented on #33
Yes, @jhibbets, I think this is a good idea. Let's discuss before the launch. We welcome input from any lurking, expert UX folks, too!

[2017-05-25 14:09] semioticrobotic commented on #29
Well, everyone, we did it.

I really can't thank you enough. If you helped proofread the book and have not yet [registered to receive your copies](https://docs.google.com/forms/d/e/1FAIpQLSd3B8dwOVWWKADmmHkZQsgqkSeOQmdf0zEvYjr4TY5KlUI9Cw/viewform?usp=sf_link), please don't forget to do so!

[2017-05-25 14:09] #29 closed

[2017-05-26 12:18] semioticrobotic commented on #32
All systems are go.

[2017-05-26 12:18] #32 closed

[2017-05-26 14:06] jhibbets opened #34 "Update to graphic"
@semioticrobotic I just noticed that in this lead image:
https://opensource.com/sites/default/files/images/openorg_itculturechage.png

The "I" in IT in the main ASCII text is missing the bottom. It almost looks like two T's. Compared to the I in GUIDE, the I in IT is wrong.

[2017-05-26 14:12] semioticrobotic commented on #34
Interesting. Nice catch. I will alert the designers right away.

[2017-05-26 14:34] semioticrobotic opened #35 "Test book download process"
The book's official landing page is [now live](https://opensource.com/open-organization/resources/culture-change) and ready for testing. If you'd like, please do help us test the book download experience by visiting the page and acquiring your PDF copy of the book. Yes—that is a real, live copy of v1.0 you'll receive by doing so!

If you encounter errors or have suggestions for enhancing the user

[2017-05-26 15:35] jonasrosland commented on #35
Works like a charm! The Captcha is a bit strange looking but otherwise no issues. Well done!

[2017-05-26 16:03] semioticrobotic commented on #35
Thanks for helping, @jonasrosland! Enjoy the book this weekend!

[2017-05-30 15:05] semioticrobotic commented on #34
An updated promo image is [now available](https://github.com/open-organization-ambassadors/open-org-it-culture/blob/master/openorg_ITculturechage-promo-520x292.png).

[2017-05-30 15:05] #34 closed

[2017-05-30 15:06] semioticrobotic commented on #35
I've been receiving positive email feedback throughout the holiday weekend, all of which indicates that the download process is free of kinks and running smoothly.

[2017-05-30 15:06] #35 closed

[2017-06-02 13:07] cwawak opened #36 "EPUB Version?"
I'd love to be able to read this on an e-reader. Is it possible to build an EPUB version of the book? Thank you!

[2017-06-02 13:16] semioticrobotic commented on #36
Thanks, @cwawak! Building an ePub version is most definitely possible using the ODT source from this repository. Community members have done it with the previous volumes, and we sure hope they will do it again with this one! Pull requests welcome!

[2017-06-02 14:49] jhibbets commented on #36
Although creating an ePub isn't a priority for our team at this time, as @semioticrobotic mentioned, many time our community members have stepped up to do this and submitted a pull request. The same for translated versions.

We have some excellent documentation via an article that Bryan wrote if anyone wants to use this to create an ePub version:
https://opensource.com/life/13/8/how-create-ebook-o

[2017-06-02 15:14] boblmartens commented on #36
I seconded this above, but EPUB would be really great for the future.

[2017-06-02 15:42] chris-short commented on #36
I'll take a stab at it during my lunch break.

[2017-06-02 16:02] chris-short commented on #36
Oof... This is a bridge too far for me with the time I have.

[2017-06-02 16:21] semioticrobotic commented on #36
No sweat, @chris-short! Eat your lunch!

[2017-06-02 17:11] boblmartens commented on #36
@chris-short I tried my hand at it before posting but the output was ... less than ideal ...

[2017-06-02 17:33] semioticrobotic commented on #36
Yes, @romainsc is the person we [need to ping](https://github.com/open-organization-ambassadors/open-org-leaders-manual/pull/1).

[2017-06-04 03:08] chris-short commented on #36
This is the image I wanted to use for the front.
![theopenorg_guidetoitculturechange_1_0_cover_final_front](https://cloud.githubusercontent.com/assets/1393145/26758618/8dcdd42e-48b1-11e7-865b-4e294f35bcd1.png)

[2017-06-07 18:53] jhibbets opened #37 "Send out template to post to LinkeIn Publications"
Need to draft an email and instructions for authors who would like to update their LinkedIn profile to list Guide to IT Culture as a publication for their portfolio.

[2017-06-07 18:54] jhibbets opened #38 "Update announcement process"
Need to include a specific call to the Opensource.com writers list during the announcement part of the book series process.

[2017-06-07 19:03] chris-short commented on #37
I've put it under Publications: https://www.linkedin.com/in/christopherbshort/

[2017-06-07 19:07] semioticrobotic commented on #38
I think adding to the master document on Mojo is the best course here.

[2017-06-19 15:59] romainsc commented on #36
Hi, I proposed two pull requests:

1. with the official cover (face and back)
2. with the @chris-short  one.

Best Regards,

[2017-06-20 13:36] semioticrobotic commented on #36
Coming to our aid once again is @romainsc! Thanks to this commit, an ePub version is now officially available in the project repository.

[2017-06-20 13:36] #36 closed

[2017-07-14 18:24] jhibbets commented on #37
*How to add a publication to your Linked In profile*

1) Log in to your Linked In account.
2) Navigate to the "me" option in the top navigation and select View profile.
3) Scroll down (perhaps way down depending on your profile) and you'll see a section called *Accomplishments* below Featured Skills & Endorsements and Recommendations.
4) Select the plus sign to the right of the Accomplishments hea

[2017-07-14 18:24] #37 closed

[2017-07-31 15:41] semioticrobotic commented on #33
This is [now live](https://opensource.com/open-organization/resources/book-series). Some killer lead artwork coming soon!

[2017-07-31 15:41] #33 closed

[2017-08-07 18:37] jhibbets commented on #38
Will add a new section and get feedback from this weeks announcement

[2017-08-10 17:29] #38 closed

[2017-09-06 12:29] mpkono opened #41 "Possible repeated word in "What's an IT culture, anyway?""
I'm still fairly new to GitHub and I've never contributed to anything open source before, so I do not know if this is appropriate or the correct way to go about this.

In the opening paragraph of Jono Bacon's "What's an IT culture, anyway?" piece, the word "exactly" looks like it may have been inadvertently repeated.

_"Sure, reams of social science research explore **exactly** what **exactly** "c

[2017-09-06 13:39] semioticrobotic commented on #41
Thanks so much, @mpkono, for your time and effort submitting this issue. You've done everything here in precisely the correct and expect way, and we're very appreciative! I've just made the change and will push an update to the book momentarily, so I'm closing this issue. Welcome to the community, @mpkono!

[2017-09-06 13:39] #41 closed